<!DOCTYPE html>
<html>
    <head>
        <title>Ale_egro</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <body>
    <div class="navbar" id="navbar">
        <div class="navbar__card">
            <a id="Timer"></a><br>
            <a href="{{ path('app_main_page') }}" class="card">Strona główna</a>
        </div>
        <div class="navbar__logon">
            {% if app.user is not same as null %}
                <a   class="navbar__logon-item" href="{{ path('app_add_announcement') }}">Dodaj ogłoszenie</a>
                <a   class="navbar__logon-item" href="{{ path('app_logout') }}">Wyloguj</a>
            {% else %}
                <a class="navbar__logon-item" href="{{ path('app_login') }}">Zaloguj</a>
                <a class="navbar__logon-item" href="{{ path('app_register') }}">Rejestracja</a>
            {% endif %}
        </div>
    </div>
    <div class="content">
    {% block body %}{% endblock %}
    </div>
    </body>
    <script>
        function getData() {
            $.get("http://api.nbp.pl/api/exchangerates/rates/A/EUR", (data) => {
                $("#Timer").empty();
                let items = [];
                $.each(data["rates"], (key, val) => {
                    items.push('Kurs: ' + data['code'] + ": " + val['mid']);
                });
                $("#Timer").html(items);
            });

        }

        getData();

        window.setInterval(getData, 300000);
    </script>
</html>
